---
name: Backlog Limits Checker
# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: '*/10 * * * *'
  push:
    branches: ['main']
  workflow_dispatch:
permissions:
  contents: write
jobs:
  check_suse_qa_tools_backlog_limits:
    # prevent running this on forks or any other branches
    if: github.ref == 'refs/heads/master' && github.repository_owner == 'os-autoinst' || github.ref == 'refs/heads/testworkflow'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: openSUSE/backlogger@main
        with:
          redmine_api_key: ${{ secrets.REDMINE_API_KEY }}
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: gh-pages
          clean-exclude: pr-preview
